@import "../../Resources/StyleVariables.less";

.canvas-window {
  background: rgba(3, 5, 7, 0.8);
  border-radius: 20px;
  padding: 10px 0px;
  //border: 1px solid @bg-light-color;

  .canvas-window-title-area {
    padding: 0px 20px;
    padding-bottom: 10px;
    .canvas-window-title {
      font-size: 16px;
      font-weight: 200;
      color: white;

    }
  }

  .canvas-window-content-area {
    overflow: scroll;
    max-height: 500px;
    max-width: 700px;
    padding: 0px 20px;
  }

}

&.active-element {
  .canvas-window {
    background: rgba(3, 5, 7, 1);
    border: 1px solid @bg-light-color;
    box-sizing: border-box;
    margin:-1px;
  }
}