@import "../../Resources/StyleVariables.less";

.drag-area {
  width: 100%;
  height: calc(100% - 60px);
  position: relative;

  .draggable-element {
    margin: 10px;
    display: inline-block;
    position: absolute;

  }
}