@import "../../Resources/StyleVariables.less";

.rc-slider-rail {
  background-color: @inactive-color !important;
}

.rc-slider-track {
  background-color: @active-color !important;
}

.rc-slider-handle {
  background-color: @active-color !important;
  border: none !important;
}

.rc-slider-handle {
  margin-top: -2px !important;
  width: 8px !important;
  height: 8px !important;
}

.toggle-property-button {
  color: @inactive-color !important;
  &.active {
    color: @active-color !important;
  }
}

.property-value-input {

  margin: 10px 0;

  .property-name {
    color: white;
    font-size: 12px;
    font-weight: 100;
  }

  .rc-slider {
    width: 200px;
    display: inline-block;
  }

  .toggle-property-button {
    color: @active-color !important;
    margin-left: 10px;
  }

  .rc-slider-handle {
    visibility: hidden;
  }

  &.active {
    .rc-slider-handle {
      visibility: visible;
    }
    .toggle-property-button {
      color: @inactive-color !important;
    }
  }
}