@import "../../Resources/StyleVariables.less";

.rc-slider-rail {
  background-color: @inactive-color !important;
}

.rc-slider-track {
  background-color: @active-color !important;
}

.rc-slider-handle {
  background-color: @active-color !important;
  border: none !important;
}

.toggle-property-button {
  color: @inactive-color !important;
  &.active {
    color: @active-color !important;
  }
}

.property-value-input {

  .property-name {
    color: white;
    font-size: 12px;
    font-weight: 100;
  }

  .toggle-property-button {
    color: @active-color !important;
  }

  &.active {
    .toggle-property-button {
      color: @inactive-color !important;
    }
  }
}