html,
body,
#root,
.App {
  height: 100%;
  background: black;
  overflow: hidden;
}
html .app-body,
body .app-body,
#root .app-body,
.App .app-body {
  width: 100%;
  height: calc(100% - 60px);
}
html label,
body label,
#root label,
.App label {
  font-family: "SF UI Display";
}
